.head {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

.certi{
    letter-spacing: .25cm;
    font-weight: 1000;
}

.reg{
    padding-left: 10px;
    justify-content: center;
    display: flex;
    margin-right: 800px;
    
}

.regno{
    padding-left: 2ch;
    color: red;
    font-weight: 500;
}

.logo img {
    max-width: 150px;
}

  
.head_info {
    padding-left: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.all {
    background-color: #fff;
    margin: 0%;
    max-width: 1100px;
    margin: 0 auto;
    border: 2px solid black;
    content: "";
    display: table;
    clear: both;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.info{
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.info2{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-right: 50%;
}

header{
    border-bottom: 2px solid black; 
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
}

.fees_refund{
    display: flex;
    padding-left: 1cm;
    padding-top: 2cm;
    justify-content: space-between;
}

table.right{
    max-width: 90%;
    width: 60%;
    height: 30%;
    padding: 5%;
    font-size: 12px;
}

.left{
    position: relative;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 5%;
}

.prices{
    text-align: right;
    vertical-align: top;
}
.assessed_fees{
    text-align: left;
    vertical-align: top;
}
td.assessed_fees, td.prices{
    border: none;
}

td.main{
    border: none;
}

div.last {
   padding-left: 60%;
   padding-bottom: 10%;
   padding-top: 5%;
    
}

footer{
    border-top: 2px solid black; 
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
}